.Calculator {
  width: 100%;
  max-width: 800px;
}

.input[type="text"] {
  border: 0;
  border-bottom: #aaa 1px solid;
  border-radius: 10px 10px 0 0;
  background: rgba(black, 0.02);
  width: 100%;
  font-size: 40px;
  padding: 10px;
  margin-top: 1em;
  text-align: center;
}

.spacedElements {
  display: flex;
  flex-flow: column nowrap;

  & > * {
    margin-bottom: 18px;
  }
  pre {
    text-align: left;
    background: #111;
    padding: 0.5em;
  }
}

.resetList {
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    li {
      margin-bottom: 0.5em;
    }
  }
}

.donateHint,
.dontDonateWarning {
  background: #333;
  padding: 1em;
  border-radius: 10px;
  line-height: 1.5em;
}

.dontDonateWarning {
  background: darkred;
}

.statDelta {
  color: greenyellow;
}

.alreadyCollectedMessage {
  margin-top: 1em;
}

.donateOrInvestChoice {
  background: #333;
  padding: 1em;
  border-radius: 4px;
  margin-top: 0.5em;
}
