.Calculator {
  text-align: center;
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
}

.input[type="text"] {
  border: 0;
  border-bottom: #aaa 1px solid;
  border-radius: 10px 10px 0 0;
  background: rgba(black, 0.02);
  width: 100%;
  font-size: 40px;
  padding: 10px;
  margin-top: 1em;
  text-align: center;
}

.spacedElements {
  & > * {
    margin-bottom: 18px;
  }
  pre {
    text-align: left;
    background: #111;
    padding: 0.5em;
  }
}

.resetList {
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    li {
      margin-bottom: 0.5em;
    }
  }
}
